
.catalog {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  font-family: "Roboto";
  color: black;
  line-height: 1.2;

  .catalog__name {
    font-size: 22px;
  }

  .catalog__img {
    width: 220px;
    height: 200px;

    img {
      width: 220px;
      height: 200px;
    }
  }
}
