.menu {
  width: 100%;
  background-color: #565b61;
  margin-top: 20px;

  .container {
    margin: 0 auto;
    width: 955px;
    height: 60px;
  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(243, 243, 243);
    //text-transform: uppercase;
    align-items: center;
    height: 100%;
    line-height: 1.2;

    li {
      width: min-content;
      height: 100%;
      display: flex;
      padding: 15px;
      align-items: center;
      cursor: pointer;

      img {
        padding-right: 5px;
      }
    }
  }

  @media (max-width: 700px) {
    .container {
      display: none;
    }
  }
  @media (max-width: 1060px) {
    .container {
      width: 100%;

      .menu__list {
        width: 100%;
        font-size: 10px;

        li {
          padding: 0px;
          //width: auto;
        }
      }

    }
  }
}


@media (max-width: 700px) {
  .menu {
    margin-top: 0;
  }

}


//mobile

.mob__container {
  display: none;
  background-color: white;
}

@media (max-width: 700px) {
  .mob__container {
    display: block;
    font-family: "Roboto";

    .mob__menu {
      width: 100%;
      text-align: left;
      padding: 15px;
      border-bottom: #dfdfdf solid 1px;
      position: relative;

      img {
        padding: 2px 15px 0 6px;
      }

      span {
        display: inline-block;
        padding-top: 5px;
        font-size: 14px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.2;
      }

      .arrow {
        position: absolute;
        right: 3px;
      }
    }

    .mob__list {
      display: none;
      position: relative;

      .list__menu {
        position: absolute;
        width: 100%;
        background-color: white;

        li {
          padding: 5px 22px;
          border-bottom: #dfdfdf solid 1px;
        }
      }
    }

    .mob__cal, .mob__brigade, .mob__stock {
      font-size: 14px;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      width: 100%;
      text-align: left;
      padding: 15px;
      border-bottom: #dfdfdf solid 1px;

      img {
        padding: 4px 18px 0 8px;
      }

      span {
        display: inline-block;
        padding-top: 5px;
        line-height: 1.2;
      }
    }

    .mob__stock {
      img {
        padding: 2px 15px 0 6px;
      }
    }

    .mob__cal {
      border-bottom: #dfdfdf solid 7px;
    }

    .mob__cabinet, .mob__info {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      color: rgb(0, 0, 0);
      width: 100%;

      div {
        text-align: left;
        padding: 15px;
        border-bottom: #dfdfdf solid 1px;

        img {
          padding: 4px 18px 0 8px;
        }

        span {
          display: inline-block;
          padding-top: 5px;
          line-height: 1.2;
        }
      }

      .fav {
        border-bottom: #dfdfdf solid 7px;

        img {
          padding: 4px 14px 0 5px;
        }
      }

    }

    .mob__info {
      position: relative;

      div {
        img {
          padding: 4px 12px 0 4px;
        }
      }

      .arrow {
        position: absolute;
        right: 4px;
      }

      .info__partners {
        text-align: left;
        padding: 15px;
        border-bottom: #dfdfdf solid 1px;

        img {
          padding: 4px 9px 0 3px;
        }

      }
    }

  }

}