.menu {
  width: 100%;
  background-color: #565b61;
  margin-top: 20px;

  .container {
    margin: 0 auto;
    width: 955px;
  }

  .menu__list {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-family: "Roboto";
    color: rgb(243, 243, 243);
    //text-transform: uppercase;
    align-items: center;
    //padding: 15px;
    line-height: 1.2;

    li {
      width: min-content;
      height: 100%;
      display: flex;
      padding: 15px;

      img {
        padding-right: 5px;
      }
    }
  }

  @media (max-width: 700px) {
    .container {
      display: none;
    }
  }
}

@media (max-width: 700px) {
  .menu {
    margin-top: 0;
  }
}

//mobile
.mob__container {
  display: none;
  background-color: white;
}

@media (max-width: 700px) {
  .mob__container {
    display: block;
    .hidden {
      display: none;
    }
    .mob__menu {
      width: 100%;
      text-align: left;
      padding: 15px;
      border-bottom: #dfdfdf solid 1px;
      position: relative;

      img {
        padding: 2px 18px 0 8px;
      }

      span {
        display: inline-block;
        padding-top: 5px;
        font-size: 14px;
        font-family: "Roboto";
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.2;
      }
      .arrow{
        position: absolute;
        right: 0;
      }
    }

    .mob__list {
      display: none;
    }

  }
}