@import './nullStyle.scss';

html {
  overflow-x: scroll;
  margin-right: calc(-1 * (100vw - 100%));
}
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
